  .byline{
    font-size: 11px;
  }

#content {
  position: relative;
  overflow: hidden;
  padding: 20px 0px 0px 0px;
  }

.social_icon {
  width: 35px; }


@media screen and (min-width: 642px) {

  #top_ad {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  #bottom_ad {
    margin-top: 40px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 642px) {

  #top_ad {
    margin-top: 20px;
  }

  #bottom_ad {
    margin-bottom: 20px;
  }

}

/* Fixes for social menu */
body #rh-subnav-wrap {
    padding: 10px 20px 0;
}
#rh-subnav ul {
    width: 200px;
}
.center {
    text-align: center;
    margin: auto;
}
article {
    max-width: 1100px;
    margin: auto;
}

div.ad { width: 300px; }
div.ad > span {
    font-size:10px;
    color:#999;
    font-family:sans-serif;
}
